.grid-container {
    display: grid;
    grid-template-columns: 9em 9em;
    grid-gap: 5px;
    padding: 5px;
}
  
.grid-container > div {
    text-align: center;
    padding: 10px 0;
}

.grid-container > div img {
    width: 8em;
    height: 8em;
}
