body {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    background-color:#E5E5E5;
}

.song {
    width: 270px;
    border: 1px solid #999;
    padding-bottom: 3px;
    background-color: lightgray;
}
.song audio { width: 270px; }
.song .controlBar, .controlBar {
    background-color: rgba(26,26,26,0);
}

.headerTop {
    background-color: #8B0000;
    background-image:url(https://www.spacemy.xyz/dynamic/files/9d2a9fac4c81b7b50cb7b3f3b2817dcb.png);
    background-repeat:repeat-x;
    background-position:bottom;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 3px;
    font-size: 19px;
    height: 2em;
}

.headerTop small {
    font-size: 14px;
}

.headerBottom small {
    font-size: 13px;
}

.headerTop img { height: 42px; float: left; }

.headerTop a, .headerBottom a {
    color: white;
    text-decoration: none;
}

.headerTop a:hover, .headerBottom a:hover {
    color: gray;
    text-decoration: underline;
}

.headerBottom {
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #B45A5A;
    background-image:url(https://www.spacemy.xyz/dynamic/files/a11634fea23ca7c05bae192510fbb003.png);
    background-repeat:repeat-x;
    color: white;
}

#floatRight, .floatRight {
    float: right;
}
.floatLeft {float:left;}

.container a {
    text-decoration: none;
}

.blogCont {
    padding: 5px;
    background-color: #6699cc;
}

.blogsList ul {
    list-style-type: circle;
}

.container a:hover {
    color: #C00;
    text-decoration: underline;
}

.container {
    width: 55em;
    margin: auto;
    background-color: white;
    overflow: auto;
}

#online {
    width: 6em;
}

.footer {
    width: 40em;
    margin: auto;
}

.hero {
    background-color: whitesmoke;
    padding: 10px;
    border: 3px inset black;
}

.hero button {
    background-color: whitesmoke;
    width: 70px;
}

#noMargin {
    margin: 0px;
}

#noPadding {
    padding: 0px;
}

.padding {
    padding: 5px;
}

table {
    font: inherit;
    font-size: inherit;
    font-size: 90%;
    color: inherit;
    border-collapse: collapse;
}

.cols th, .cols td {
    text-align: left;
    vertical-align: top;
}

#splash {
    color: #CC0000;
    float: right;
}

.cols td {
    background-color: #B5CCFB;
    width: 24%;
    padding: 5px;
    font-size: 90%;
    border: 1px solid black;
}

.cols td b {
    font-size: 105%;
}

#splash_greybox {
    clear: left;
    background-color: #F2F5F7;
    border: 1px solid #D0E4FD;
    height: 55px;
    width: 39.25em;
}

.section {
    border: 0;
    width: 97%;
}

#splash_greybox .col {
    float: left;
    margin: 3px;
    width: 23%;
}

.login {
    border: 1px solid #003399;
}

.loginTopbar {
    background-color: #003399;
    color: white;
    padding: 3px;
}

.topLeft {
    float: left;
    width: calc( 50% - 20px );
    padding: 10px;
}

.topRight {
    float: right;
    width: calc( 50% - 20px );
    padding: 10px;
}

.headerBottom small #floatRight {
    float: right;
    padding-right: 5px;
}

#custompadding {
    padding-right: 5px;
}

#pfp {
    width: 10em;
    height: 10em;
}

#padding10 {
    padding: 10px;
}

.contacting {
    border: 1px solid#6699cc;
}

.contactingTopbar {
    background-color:#6699cc;
    color: white;
    padding: 3px;
}

.contacting ul {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.url {
    border: 1px solid#6699cc;
    padding: 5px;
}

.about {
    background-color: #f8c688;
    color: #d88d48;
    padding-left: 25px;
}

.bio {
    padding-top: 3px;
    padding-left: 25px;
    padding-right: 5px;
}

.whitetext12 {
    color: white;
}

table {
    font-size: 13px;
}

.splashBlue {
    background-color: rgb(213,231,251);
    border: 1px solid#abbacb;
    padding: 3px;
}

.comment {
    padding: 5px;
    background-color: #faddc0;
}

#customButton {
    background-color: rgb(221,243,255);
    color: rgb(74,122,122);
    width: 70px;
}

.tableRight {
    width: 74%;
    background: #fc9;
    padding: 10px;
    vertical-align: top;
    overflow-wrap: anywhere;
    margin-bottom: 2px;
}

.tableLeft {
    background: #f93;
    width: 25%;
    padding: 10px;
    vertical-align: top;
    overflow: hidden;
    margin-bottom: 2px;
}

.tableLeft img {
    width: 5em;
    height: 5em;
}

#userWall {
    margin-top: 10px;
    word-wrap: break-word;
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

#userWall tr {
    margin: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: 11.5em 11.5em 11.5em 11.5em;
    grid-gap: 10px;
    padding: 10px;
}
  
.grid-container > div {
    text-align: center;
    padding: 20px 0;
}

.grid-container > div img {
    width: 10em;
    height: 10em;
}

.extended {
    padding: 10px;
    border: 1px solid black;
}

#originalpost {margin-bottom: 1em;overflow: auto;}

div.groupssidelinks {
    width: 154px;
    padding: 3px;
    margin: 38px 0 2em;
    background-color: #B1D0F0;
}

div.groupssidelinks ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

div.groupssidelinks li {
    margin: 0;
    padding: .5em 0;
    list-style: none;
    background-color: #D5E8FB;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    text-align: center;
}

div.groupssidelinks a {
    color: rgb(83, 83, 255);
}

.blog {
    background-color: #F9F9F9;
    padding-bottom: 2em;
    border-bottom: 1px solid #ccc;
    overflow: auto;
}

#blogPost, #blogPost small {
    padding-left: 5px;
}

#splash_graybox {
    background-color: #F2F5F7;
    border: 1px solid #D0E4FD;
    padding-bottom: 1px;
}

div.sideblog {
    width: 160px;
    border: 1px solid #69C;
    margin-bottom: 2em;
}

div.sideblog h3 {
    margin: 0;
    padding: .2em 0;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    color: #000;
    background-color: #A5D5F5;
    text-align: center;
    font-weight: bold;
    font-size: 10pt;
}

div.sideblog ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

div.sideblog li {
    margin: 0;
    padding: .2em 0;
    list-style: none;
    background-color: #e5e5e5;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    text-align: center;
    font-size: 10pt;
}

#splash {
    background-color: #B5CCFB;
    height: 14px;
}

div#rate_no, div#rate_yes {
    width: 64px;
    height: 19px;
    overflow: hidden;
    margin-bottom: 2px;
}

div#rate_no a, div#rate_yes a {
    display: block;
    padding: 0 0 0 16px;
    font: normal 9px/19px Verdana,Arial,Helvetica,sans-serif;
    color: #fff;
    text-decoration: none;
    background: url(/static/btn_rate_yes-no-trans.png) left top no-repeat;
    background-position-x: left;
    background-position-y: top;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader();
}

div#rate_no a {
    background-position: 0 -38px;
}

div#rate_yes a {
    background-position: 0 0;
}

.rating {
    display: block;
    width: 60px;
    height: 40px;
    background: url(/static/bgRatingBox-trans.gif) no-repeat left top;
    overflow: hidden;
    text-align: center;
    font-size: 10px;
    margin: 0;
}

div.rating strong {
    display: block;
    text-align: center;
    font-size: 24px;
    color: #59F;
    margin: 0;
    padding: 0;
}

ul#do_links {
    margin-left: 150px;
}
ul#do_links, ul#do_links li {
    list-style: none;
    margin: 0;
    margin-left: 0px;
    padding: 0;
}

ul#do_links li {
    width: 50%;
    float: left;
}
ul#do_links, ul#do_links li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a.blog_this {
    background-position: 0 -25px;
}
a.bulletin_this, a.blog_this, a.email_this, a.favorite_this, a.add_to_profile, a.flag_inappropriate {
    display: block;
    padding-left: 23px;
    height: 20px;
    background: url(/static/iconset2-19x15px.gif) no-repeat 0 0;
    background-position-x: 0px;
    background-position-y: 0px;
}

a.bulletin_this {
    background-position: 0 0;
}

a.email_this {
    background-position: 0 -50px;
}

a.add_to_profile {
    background-position: 0 -100px;
}

a.favorite_this {
    background-position: 0 -75px;
}