#friends {
    border-collapse: collapse;
    width: 100%;
}

#friends td, #friends th {
    border: 1px solid #86abcf;
    text-align: left;
    padding: 8px;
}

#friends tr:nth-child(even) {
    background-color: #D0E4FD;
}